<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
         
            <title>Schedule</title>
    </head>
    <body>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
             <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portofolio">Portofolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Me</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule</a>
          </li>
        </ul> 
      </div>
  </nav>

  <div class="container text-white" style="margin-top: 100px">
    <h2>Schedule</h2>
    <form action="{% url 'schedule' %}" method="post"> {% csrf_token %}
      {% for schedule in schedule_form %}
      <div class="row">
        <div class="col-12">
            {{ schedule.label_tag}}
            <div class="col-form-label-lg "> {{ schedule }} </div>
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-default" style="color: white">Submit</button>
    </form>
  </div>

</body>
</html>
