<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
         
            <title>Schedule</title>
    </head>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
             <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portofolio">Portofolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Me</a>
          </li>
        </ul> 
      </div>
  </nav>
<body>
  
  <div class="container text-white" style="margin-top: 100px">
  
    <h2>Schedule List</h2>
      <div class="agenda" >
          <div class="table-responsive" >
            
              <table class="table table-condensed table-bordered">
                
                  <thead>
                      <tr style="color: white">
                          <th>Date</th>
                          <th>Time</th>
                          <th>Category</th>
                          <th>Event</th>
                          <th>Location</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  
                  <tbody style="color: white">
                      <!-- Single event in a single day -->
                      {% for schedule in schedules %}
                      <tr>
                          <td class="agenda-date" class="active">
                              <div class="dayofmonth">{{ schedule.date }}</div> 
                          </td>
                          <td class="agenda-time">
                              {{ schedule.time }}
                          </td>
                          <td class="agenda-category">
                              <div class="agenda-category">
                                  {{ schedule.category }}
                              </div>
                          </td>
                          <td class="agenda-events">
                              <div class="agenda-event">
                                  <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                  {{ schedule.name }}
                              </div>
                          </td>
                          <td class="agenda-locations">
                              <div class="agenda-location">
                                  {{ schedule.place }}
                              </div>
                          </td>
                          <td>
                          <form action="{% url 'schedule_delete' schedule.id %}" method="post">
                            {% csrf_token %}
                            <input type = "hidden" name="schedule_id" value="{{ schedule.id }}"/>
                            <button type="delete" class="btn btn-default" style="color: white">Delete</button>
                          </form>
                          </td>
                        
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
  
  </div>
</body>
</html>
