<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
         
            <title>About Me</title>
    </head>
    <body>
            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
         
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                       <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/portofolio">Portofolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                  </li>
                </ul> 
              </div>
            </nav>

    <div class="container text-white">

        <div class="d-flex bg-green" style="margin-top: 100px">
            <div class="p-2 justified-text">
                <h3>Riri Edwina Renaganis</h3>
                <p>Full time learner. 
                <br>Part time teacher - part time dancer.
                <br>I am from batch 2018 and currently studying at Computer Science major. Soon to be a programmer.
                <br>I am active in several comittees and organizations.
                <br>I accept the offers to teach for students or dance for events.
                </p></div>
            <div class="p-2 img-fluid ml-auto"><img src="{% static "DSC01607 2.jpg" %}" style="width:280px;height:400px;border-radius:75px"></div>
        </div>
                     
        </div>

        <div class="row justify-content-center text-white" style="margin-top:80px">
            <div class="text-center">contact</div>
        </div>
            
        <div class="row align-items-end text-center text-white" style="margin-bottom:0">
            <div class="img-fluid col-sm-3"><img src="{% static "phone-call.png" %}" style="width:25px;height:25px;" /> 087878852650</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "email.png" %}" style="widows: 25px;height:25px;" /> ririedwina@gmail.com</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "lineputih.png" %}" style="width:25px;height:25px;" /> ririiedwina</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "igputih.png" %}" style="width:25px;height:25px;" /> ririedwina</div>
        </div>
    </div>
</body>
</html>