

<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
         
            <title>Contact</title>
    </head>
        
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
         
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/portofolio">Portofolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                  </li>
                </ul> 
              </div>
            </nav>


    <div class="container text-white">

        <div class="row" style="margin-top:100px">
                <div class="col-8">
                        <h3>email:</h3>
                    <div class="row">
                    <div class="img-fluid col-sm-1"><img src="{% static "email.png" %}" style="width:30px;height:30px;" /> 
                        </div>
                    <div class="col-sm-6"><h5>ririedwina@gmail.com</h5></div>
                    </div>
            </div>
        </div>
        
        <div class="row" style="margin-top:80px">
                <div class="col-sm-8">
                        <h3>social network:</h3>
                <div class="row">
                    <div class="img-fluid col-sm-1">
                        <img src= "{% static "lineputih.png" %}" style="width:30px;height:30px;" /> 
                        </div>
                    <div class="col-sm-3">
                        <h4>ririiedwina</h4>
                    </div>
                    <div class="img-fluid col-sm-1">
                        <img src= "{% static "igputih.png" %}" style="width:30px;height:30px;" /> 
                    </div>
                <div class="col-sm-3">
                    <h4>ririedwina</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:80px">
                <div class="col-sm-8">
                    <h3>phone number:</h3>
                        <div class="img-fluid row">
                            <div class="col-sm-1"><img src="{% static "phone-call.png" %}" style="width:30px;height:30px;" /> 
                                </div>
                            <div class="col-sm-6"><h4>087878852650</h4></div>
                        </div>
                    </div>
            </div>
    </div>

</body>
</html>