<!DOCTYPE html>
{%load static%}
<html>
<head>
<title>Tambahan Karya</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="css/bootstrap-reboot.min.css">

<link type="text/css" rel="stylesheet" href="css/bootstrap-grid.min.css">

<link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>

<div class ="row justify-content-around">
        <nav class="navbar navbar-expand-sm bg-green navbar-dark fixed-top">
            <a class="navbar-brand" href="#">Logo</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ini</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">karyaku,</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">karyamu?</a>
                    </li>
                </ul>
        </nav>
    </div>

    <div class="container-fluid text-white">
            <div class="row justify-content-center" style="margin: 100px">
                <div class="col">
                      Jadi karena diminta bikin halaman tambahan,
                      <br> mari saya cantumkan satu-dua hasil karya saya:
                </div>
            </div>

    <div class="row justify-content-around">
            <div class="col-7" style="margin:-50px">
                    <img src="night.jpg" class="rounded float-right" style="width:500px;height:300px;" />
            </div>
            <div class="col-5" style="margin:5px">
                    Adakah yang tetap waras saat jatuh cinta?<br>
                    <br>Sementara ku hanya bisa menyentuhmu lewat doa<br>
                    <br>Bagaimana bila di sana kau menemukan seseorang dan bahagia?<br>
                    <br>Apakah untukmu ku pernah ada?<br>
                    <br>-Langit Sore-
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top:80px">
                <div class="text-center">
                    contact
                </div>
            </div>
            
            <div class="row align-items-end text-center">
                    <div class="col-sm-3"><img src="phone-call.png" style="width:25px;height:25px;" /> 087878852650</div>
                    <div class="col-sm-3"><img src="email.png" style="widows: 25px;height:25px;" /> ririedwina@gmail.com</div>
                    <div class="col-sm-3"><img src="lineputih.png" style="width:25px;height:25px;" /> ririiedwina</div>
                    <div class="col-sm-3"><img src="igputih.png" style="width:25px;height:25px;" /> ririedwina</div>
            </div>
    </div>
    
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>