
<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
         
         <title>Portofolio</title>
    </head>
        
    <body>
            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
         
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/portofolio">Portofolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                  </li>
                </ul> 
              </div>
            </nav>

    <div class="container text-white">

        <div class="row align-items-center" style="margin-top:150px">
            <div class="col-6">
                <h4>Experience</h4>
                <p>I’ve taught since 2018 in tutoring class and also private class.
                <br>I’ve been dancing since 2005.</p>
            </div>    

            <div class="col">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static "3.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px;" />    
                        </div>
                        <div class="carousel-item">
                            <img src="{% static "4.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px;" />   
                        </div>
                        <div class="carousel-item">
                            <img src="{% static "5.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px" />   
                        </div>
                    </div>
                    
                    <a class="carousel-control-prev" href="#demo" data-slide="prev" role="button">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next" role="button">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>    
            </div>
        </div>

        
        <div class="row justify-content-center text-white" style="margin-top:80px">
            <div class="text-center">contact</div>
        </div>

        <div class="row align-items-end text-center text-white" style="margin-bottom:0">
            <div class="img-fluid col-sm-3"><img src="{% static "phone-call.png" %}" style="width:25px;height:25px;" /> 087878852650</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "email.png" %}" style="widows: 25px;height:25px;" /> ririedwina@gmail.com</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "lineputih.png" %}" style="width:25px;height:25px;" /> ririiedwina</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "igputih.png" %}" style="width:25px;height:25px;" /> ririedwina</div>
        </div>
    </div>
</body>
</html>