{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
       <title>Profil Riri</title>
       <!-- jQuery library -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <!-- Popper JS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
       <!-- Latest compiled JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-secondary ml-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/portofolio">Portofolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                  </li>
                </ul> 
              </div>
            </nav>
        <div class="container-fluid text-white" style="margin-top:100px">
            <div class="d-flex flex-wraps align-items-center justify-content-around">
                <div class="p-2 col-6">
                    <h1>Hello!</h1>
                    <h2>I am Riri!</h2>
                    <p>I am a full time learner, I do teach and dance for fun! 
                    <br>I currently study at Computer Science University of Indonesia. 
                    <br>I am looking for new thing everyday👀</p>
                </div>
                <div class="p-2">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static "1.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px;" />    
                            </div>
                            <div class="carousel-item">
                                <img src="{% static "2.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px;" />   
                            </div>
                            <div class="carousel-item">
                                <img src="{% static "3.jpg" %}" class="img-fluid rounded" style="width:500x;height:281,25px" />   
                            </div>
                        </div>
                        
                        <a class="carousel-control-prev" href="#demo" data-slide="prev" role="button">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" href="#demo" data-slide="next" role="button">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container mt-3" style="margin-top:150px">

                <div class="d-flex flex-wrap justify-content-between mb-3">
                    <div class="p-2 justified-text">
                        <h4 class="text-center">Ongoing Commitee(s)</h4>
                        <P class="text-center"> Disciplinary Commission of PMB 2019<br>
                        <br>HR of Fundraising COMPFEST 2019<br>
                        <br>Treasurer of Graduation 2020<br>
                        <br>Manager HR of COMPFEST 2020</p>  
                    </div>
                    <div class="p-2">
                            <h5 class="text-center">Know me more</h5>
                            <img src="{% static "DSC02890 (2).JPG" %}" class="img-fluid rounded-circle mx-auto d-block" style="width:150px;height:150px;" />
                            <p class="text-center"><a href = "http://bit.ly/CVrer">cv</a></p>
                    </div>
                    <div class="p-2">
                        <h4 class="text-center justified-text">Upcoming Show(s)</h4>
                        <p class="text-center">
                        Universitas Indonesia Art War<br>
                        <br>Bandung International<br> 
                        Dance Competition 2019</p>
                    </div>
                </div>

            </div>
                    

            <div class="row justify-content-center" style="margin-top:80px">
                <div class="text-center">
                    contact
                </div>
            </div>

            <div class="row align-items-end text-center" style="margin-bottom:0">
                    <div class="img-fluid col-sm-3"><img src="{% static "phone-call.png" %}" style="width:25px;height:25px;" /> 087878852650</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "email.png" %}" style="widows: 25px;height:25px;" /> ririedwina@gmail.com</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "lineputih.png" %}" style="width:25px;height:25px;" /> ririiedwina</div>
                    <div class="img-fluid col-sm-3"><img src="{% static "igputih.png" %}" style="width:25px;height:25px;" /> ririedwina</div>
            </div>
        </div>
    </body>
</html>
