nav {
    justify-content: space-between !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

body{
    background-color: MediumAquaMarine;
    font-weight:500; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}